<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
        <title>For Life S.A</title>

        <!-- {% if APP_ENV == "production" %}
            <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
        {% endif %} -->

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/mdb.min.css') }}"></link>

        <!-- Datatable CSS -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.bootstrap5.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.0/css/buttons.bootstrap5.min.css"> -->

        <!-- tomselect CSS -->
        <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.bootstrap5.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
        
        <!-- Fix header -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/4.0.1/css/fixedHeader.bootstrap5.min.css"> -->

        <!-- Responsive -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/responsive/3.0.2/css/responsive.bootstrap5.min.css"> -->

        <!-- Datatable JS files -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
        <!-- <script src="https://cdn.datatables.net/2.1.2/js/dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/2.1.2/js/dataTables.bootstrap5.min.js"></script> -->

        <!-- Buttons -->
        <!-- <script src="https://cdn.datatables.net/buttons/3.1.0/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/3.1.0/js/buttons.bootstrap5.min.js"></script> -->

        <!-- Fix header-->
        <!-- <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/dataTables.fixedHeader.min.js"></script>
        <script src="https://cdn.datatables.net/fixedheader/4.0.1/js/fixedHeader.bootstrap5.min.js"></script> -->

        <!-- Responsive -->
        <!-- <script src="https://cdn.datatables.net/responsive/3.0.2/js/dataTables.responsive.min.js"></script>
        <script src="https://cdn.datatables.net/responsive/3.0.2/js/responsive.bootstrap5.min.js"></script> -->

        <!-- ColReorder -->
        <!-- <script src="https://cdn.datatables.net/colreorder/2.0.3/js/dataTables.colReorder.min.js"></script>
        <script src="https://cdn.datatables.net/colreorder/2.0.3/js/colReorder.bootstrap5.min.js"></script> -->

        <!-- mdb -->
        <!-- <script type="module"  src="{{ url_for('static', filename='js/mdb.es.min.js') }}"></script> -->

        <!-- moment -->
        <!-- <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script> -->
    </head>
    <body class=" d-flex flex-column bg-light">
        {% include 'header.html' %}
        <main class="page" style="margin-top: 58px;">
            <div class="content-page container pt-4">
                {% block content %}{% endblock %}

                <!-- Confirm modal for other views (not this one) -->
                <div class="modal fade" tabindex="-1" id="confirmModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalTitle">Confirmación</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p id="confirmModalText"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" id="confirmModalButton">Sí</button>
                                <button type="button" class="btn btn-primary" id="cancelModalButton" data-bs-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Todo fusionar estos modales -->
                <div class="modal fade" id="statusErrorsModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
                        <div class="modal-content"> 
                            <div class="modal-body text-center p-lg-4"> 
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                    <circle class="path circle" fill="none" stroke="#db3646" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" /> 
                                    <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                                    <line class="path line" fill="none" stroke="#db3646" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" X2="34.4" y2="92.2" /> 
                                </svg> 
                                <h4 class="text-danger mt-3" id="errorModalTitleError">Err!</h4> 
                                <p class="mt-3" id="errorModalDescription">An error has ocurred :(.</p>
                                <button type="button" class="btn btn-sm mt-3 btn-danger" data-bs-dismiss="modal">Close</button> 
                            </div> 
                        </div> 
                    </div> 
                </div>
        
                <div class="modal fade" id="statusSuccessModal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false"> 
                    <div class="modal-dialog modal-dialog-centered modal-sm" role="document"> 
                        <div class="modal-content"> 
                            <div class="modal-body text-center p-lg-4"> 
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                                    <circle class="path circle" fill="none" stroke="#198754" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1" />
                                    <polyline class="path check" fill="none" stroke="#198754" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " /> 
                                </svg> 
                                <h4 class="text-success mt-3">Success!</h4> 
                                <p class="mt-3" id="successModalTxt">Now you will be redirected to login page.</p>
                                <button type="button" class="btn btn-sm mt-3 btn-success" data-bs-dismiss="modal">Ok</button> 
                            </div> 
                        </div> 
                    </div> 
                </div>
            </div>
        </main>
        {% block scripts %}{% endblock %}
    </body>
</html>
