<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <!-- Dashboard -->
                <a
                    href="/"
                    class="list-group-item list-group-item-action py-2 ripple {{ 'active' if active == 'dashboard' else '' }}"
                    aria-current="true"
                    >
                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
                </a>
                <!-- patients -->
                <a href="{{ url_for('app.patients.view') }}" class="list-group-item list-group-item-action py-2 ripple {{ 'active' if active == 'patients' else '' }}"
                    ><i class="fas fa-list-alt fa-fw me-3"></i><span>Patients</span></a
                    >
            
        
            </div>
        </div>
    </nav>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Toggle button -->
            <button data-mdb-button-init
                class="navbar-toggler"
                type="button"
                data-mdb-collapse-init
                data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                id="sidebarCollapse"
                >
            <i class="fas fa-bars"></i>
            </button>
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <strong>For Life S.A</strong>
                <span class="text-muted ms-2">v1.0</span>
            <img
                src="{{ url_for('static', filename='img/favicon.ico') }}"
                height="25"
                alt="For Life S.A"
                loading="lazy"
                />
            </a>
            <!-- Right links -->
            <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Icon -->
                <li class="nav-item dropdown">
                    <a class="nav-link me-3 me-lg-0 dropdown-toggle d-flex align-items-center" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user fa-2x"></i>
                        <span class="ms-2">{{ g.current_user.name }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
                        <li><a class="dropdown-item"id="logoutButton">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>